In [1]:
import pandas as pd
import numpy as np

In [2]:
#Reading csv files
orders = pd.read_csv('olist_orders_dataset.csv')
order_items = pd.read_csv('olist_order_items_dataset.csv')
customers = pd.read_csv('olist_customers_dataset.csv')
sellers = pd.read_csv('olist_sellers_dataset.csv')
geolocation = pd.read_csv('olist_geolocation_dataset.csv')
products = pd.read_csv('olist_products_dataset.csv')

### Orders

In [3]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [4]:
# before filtering
original_order = orders.shape[0]
print(original_order)

99441

In [5]:
# Filter for orders with 'order_status' as 'delivered'
orders = orders[orders['order_status'] == 'delivered']

# Confirm the filter worked by checking unique values in 'order_status'
print("Unique order statuses after filtering:", orders['order_status'].unique())

Unique order statuses after filtering: ['delivered']

In [6]:
# After filtering delivered status
delivered_order = orders.shape[0]
print(delivered_order)

96478

In [7]:
# We want to know how many data were dropped after filtering
data_drop = original_order - delivered_order
print(data_drop)

2963

In [8]:
# Check for duplicates in order table
duplicate_order_id = orders[orders.duplicated(subset='order_id')]
print("Duplicate entries in order table:\n", duplicate_order_id)

Duplicate entries in order table:
 Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date]
Index: []

In [9]:
# Convert date columns to datetime
orders['order_purchase_timestamp'] = pd.to_datetime(orders['order_purchase_timestamp'])
orders['order_delivered_customer_date'] = pd.to_datetime(orders['order_delivered_customer_date'])
orders['order_estimated_delivery_date'] = pd.to_datetime(orders['order_estimated_delivery_date'])
orders['order_approved_at'] = pd.to_datetime(orders['order_approved_at'])
orders['order_delivered_carrier_date'] = pd.to_datetime(orders['order_delivered_carrier_date'])

In [10]:
# Create target variable 'delay': 1 if delayed, 0 if on-time
orders['delay'] = (orders['order_delivered_customer_date'] > orders['order_estimated_delivery_date']).astype(int)

# Check distribution of target variable
print("Distribution of delay variable:", orders['delay'].value_counts())

Distribution of delay variable: delay
0    88652
1     7826
Name: count, dtype: int64

### Customers

In [11]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [12]:
# Select relevant columns
customers = customers[['customer_id', 'customer_zip_code_prefix']]

In [13]:
# Check for duplicates in customers
duplicate_customers = customers[customers.duplicated(subset='customer_id')]
print("Duplicate entries in customers table:\n", duplicate_customers)

Duplicate entries in customers table:
 Empty DataFrame
Columns: [customer_id, customer_zip_code_prefix]
Index: []

### Sellers

In [14]:
sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [15]:
# Select relevant columns
sellers = sellers[['seller_id', 'seller_zip_code_prefix']]

In [16]:
# Check for duplicates in sellers
duplicate_sellers = sellers[sellers.duplicated(subset='seller_id')]
print("Duplicate entries in sellers table:\n", duplicate_sellers)

Duplicate entries in sellers table:
 Empty DataFrame
Columns: [seller_id, seller_zip_code_prefix]
Index: []

### Products

In [17]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [18]:
# Select relevant columns
products = products[['product_id', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']]

In [19]:
# Check for duplicates in products
duplicate_products = products[products.duplicated(subset='product_id')]
print("Duplicate entries in products table:\n", duplicate_products)

Duplicate entries in products table:
 Empty DataFrame
Columns: [product_id, product_weight_g, product_length_cm, product_height_cm, product_width_cm]
Index: []

### Geolocation

In [20]:
geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [21]:
# Check for duplicates in geolocation
duplicate_geolocation = geolocation[geolocation.duplicated(subset='geolocation_zip_code_prefix')]
print("Duplicate entries in geolocation table:\n", duplicate_geolocation)

Duplicate entries in geolocation table:
          geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
2                               1046       -23.546129       -46.642951
10                              1013       -23.547325       -46.634184
13                              1012       -23.548946       -46.634671
14                              1037       -23.545187       -46.637855
15                              1046       -23.546081       -46.644820
...                              ...              ...              ...
1000158                        99950       -28.068639       -52.010705
1000159                        99900       -27.877125       -52.224882
1000160                        99950       -28.071855       -52.014716
1000161                        99980       -28.388932       -51.846871
1000162                        99950       -28.070104       -52.018658

        geolocation_city geolocation_state
2              sao paulo                SP
10             sao paulo                SP
13             sao paulo                SP
14             são paulo                SP
15             sao paulo                SP
...                  ...               ...
1000158         tapejara                RS
1000159   getulio vargas                RS
1000160         tapejara                RS
1000161  david canabarro                RS
1000162         tapejara                RS

[981148 rows x 5 columns]

In [22]:
# number of rows before removing duplicates
original_geolocation = geolocation.shape[0]
print(original_geolocation)

1000163

In [23]:
# Remove duplicates
geolocation = geolocation.drop_duplicates(subset='geolocation_zip_code_prefix')

# Check cleaned data
print("Geolocation Dataset Cleaned:\n", geolocation.head())

Geolocation Dataset Cleaned:
    geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
3                         1041       -23.544392       -46.639499
4                         1035       -23.541578       -46.641607
5                         1012       -23.547762       -46.635361

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
3        sao paulo                SP
4        sao paulo                SP
5        são paulo                SP

In [24]:
# number of unique rows in geolocation after removing duplicates
unique_geolocation = geolocation.shape[0]
print(unique_geolocation)

19015

In [41]:
# number of rows dropped after removing duplicates
dropped_rows = original_geolocation - unique_geolocation
print(dropped_rows)

981148

### order_items

In [25]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [26]:
# Select relevant columns
order_items = order_items[['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date']]

In [27]:
# Convert date columns to datetime
order_items['shipping_limit_date'] = pd.to_datetime(order_items['shipping_limit_date'])

In [28]:
# Check for duplicates in order item table
duplicate_order_item_id = order_items[order_items.duplicated(subset='order_id')]
print("Duplicate entries in order item table:\n", duplicate_order_item_id)

Duplicate entries in order item table:
                                 order_id  order_item_id  \
14      0008288aa423d2a3f00fcb17cd7d8719              2
33      00143d0f86d6fbd9f9b38ab440ac16f5              2
34      00143d0f86d6fbd9f9b38ab440ac16f5              3
43      001ab0a7578dd66cd4b0a71f5b6e1e41              2
44      001ab0a7578dd66cd4b0a71f5b6e1e41              3
...                                  ...            ...
112617  ffecd5a79a0084f6a592288c67e3c298              3
112635  fff8287bbae429a99bb7e8c21d151c41              2
112641  fffb9224b6fc7c43ebb0904318b10b5f              2
112642  fffb9224b6fc7c43ebb0904318b10b5f              3
112643  fffb9224b6fc7c43ebb0904318b10b5f              4

                              product_id                         seller_id  \
14      368c6c730842d78016ad823897a372db  1f50f920176fa81dab994f9023523100
33      e95ee6822b66ac6058e2e4aff656071a  a17f621c590ea0fab3d5d883e1630ec6
34      e95ee6822b66ac6058e2e4aff656071a  a17f621c590ea0fab3d5d883e1630ec6
43      0b0172eb0fd18479d29c3bc122c058c2  5656537e588803a555b8eb41f07a944b
44      0b0172eb0fd18479d29c3bc122c058c2  5656537e588803a555b8eb41f07a944b
...                                  ...                               ...
112617  50fd2b788dc166edd20512370dac54df  8b321bb669392f5163d04c59e235e066
112635  bee2e070c39f3dd2f6883a17a5f0da45  4e922959ae960d389249c378d1c939f5
112641  43423cdffde7fda63d0414ed38c11a73  b1fc4f64df5a0e8b6913ab38803c57a9
112642  43423cdffde7fda63d0414ed38c11a73  b1fc4f64df5a0e8b6913ab38803c57a9
112643  43423cdffde7fda63d0414ed38c11a73  b1fc4f64df5a0e8b6913ab38803c57a9

       shipping_limit_date
14     2018-02-21 02:55:52
33     2017-10-20 16:07:52
34     2017-10-20 16:07:52
43     2018-01-04 02:33:42
44     2018-01-04 02:33:42
...                    ...
112617 2018-03-05 20:15:27
112635 2018-03-27 12:29:22
112641 2017-11-03 02:55:58
112642 2017-11-03 02:55:58
112643 2017-11-03 02:55:58

[13984 rows x 5 columns]

In [31]:
# Count unique order_id
unique_order_ids_count = order_items['order_id'].nunique()
print(f"Number of unique order_id: {unique_order_ids_count}")

Number of unique order_id: 98666

In [32]:
# Count the number of unique product_id per order_id
multiple_products = order_items.groupby('order_id')['product_id'].nunique()

# Filter orders with more than one product
multiple_products = multiple_products[multiple_products > 1]

# Display the results
print(f"Number of orders with multiple products: {multiple_products.shape[0]}")
print(multiple_products.head())  # Display first few entries

Number of orders with multiple products: 3236
order_id
002f98c0f7efd42638ed6100ca699b42    2
00337fe25a3780b3424d9ad7c5a4b35e    2
005d9a5423d47281ac463a968b3936fb    2
00946f674d880be1f188abc10ad7cf46    2
0097f0545a302aafa32782f1734ff71c    2
Name: product_id, dtype: int64

In [30]:
# Count the number of unique seller_id per order_id
multiple_sellers = order_items.groupby('order_id')['seller_id'].nunique()

# Filter orders with more than one seller
multiple_sellers = multiple_sellers[multiple_sellers > 1]

# Display the results
print(f"Number of orders with multiple sellers: {multiple_sellers.shape[0]}")
print(multiple_sellers.head())  # Display first few entries

Number of orders with multiple sellers: 1278
order_id
002f98c0f7efd42638ed6100ca699b42    2
00bcee890eba57a9767c7b5ca12d3a1b    2
01144cadcf64b6427f0a6580a3033220    2
013a98b3a668bcef05b98898177f6923    2
014405982914c2cde2796ddcf0b8703d    2
Name: seller_id, dtype: int64

In [33]:
# Merge orders with order_items on 'order_id'
data = pd.merge(orders, order_items, on='order_id', how='inner')

# Merge with customers on 'customer_id'
data = pd.merge(data, customers, on='customer_id', how='inner')

# Merge with sellers on 'seller_id'
data = pd.merge(data, sellers, on='seller_id', how='inner')

# Add geolocation data for customers and sellers
data = pd.merge(data, geolocation, left_on='customer_zip_code_prefix',
                right_on='geolocation_zip_code_prefix', how='left', suffixes=('_customer', '_seller'))

data = pd.merge(data, geolocation, left_on='seller_zip_code_prefix',
                right_on='geolocation_zip_code_prefix', how='left', suffixes=('_customer', '_seller'))

# Merge with products on 'product_id'
data = pd.merge(data, products, on='product_id', how='inner')

# Check merged data structure
print("Merged Data Structure:\n", data.head())

Merged Data Structure:
                            order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp   order_approved_at  \
0    delivered      2017-10-02 10:56:33 2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37 2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49 2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06 2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39 2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date  delay  order_item_id  ...  \
0                    2017-10-18      0              1  ...
1                    2018-08-13      0              1  ...
2                    2018-09-04      0              1  ...
3                    2017-12-15      0              1  ...
4                    2018-02-26      0              1  ...

  geolocation_state_customer geolocation_zip_code_prefix_seller  \
0                         SP                             9350.0
1                         BA                            31570.0
2                         GO                            14840.0
3                         RN                            31842.0
4                         SP                             8752.0

  geolocation_lat_seller  geolocation_lng_seller  geolocation_city_seller  \
0             -23.680114              -46.452454                     maua
1             -19.810119              -43.984727           belo horizonte
2             -21.362358              -48.232976                  guariba
3             -19.840168              -43.923299           belo horizonte
4             -23.551707              -46.260979          mogi das cruzes

   geolocation_state_seller  product_weight_g  product_length_cm  \
0                        SP             500.0               19.0
1                        MG             400.0               19.0
2                        SP             420.0               24.0
3                        MG             450.0               30.0
4                        SP             250.0               51.0

  product_height_cm product_width_cm
0               8.0             13.0
1              13.0             19.0
2              19.0             21.0
3              10.0             20.0
4              15.0             15.0

[5 rows x 29 columns]

In [34]:
# before dropping null values in merged dataset
original_data = data.shape[0]
print(original_data)

110197

In [35]:
# Check for remaining null values in the merged dataset
print("Null values in merged dataset:\n", data.isnull().sum())

# Drop any remaining rows with null values in essential columns
data = data.dropna()

# Confirm null values have been removed
print("Null values after final drop:\n", data.isnull().sum())

Null values in merged dataset:
 order_id                                  0
customer_id                               0
order_status                              0
order_purchase_timestamp                  0
order_approved_at                        15
order_delivered_carrier_date              2
order_delivered_customer_date             8
order_estimated_delivery_date             0
delay                                     0
order_item_id                             0
product_id                                0
seller_id                                 0
shipping_limit_date                       0
customer_zip_code_prefix                  0
seller_zip_code_prefix                    0
geolocation_zip_code_prefix_customer    288
geolocation_lat_customer                288
geolocation_lng_customer                288
geolocation_city_customer               288
geolocation_state_customer              288
geolocation_zip_code_prefix_seller      249
geolocation_lat_seller                  249
geolocation_lng_seller                  249
geolocation_city_seller                 249
geolocation_state_seller                249
product_weight_g                         18
product_length_cm                        18
product_height_cm                        18
product_width_cm                         18
dtype: int64
Null values after final drop:
 order_id                                0
customer_id                             0
order_status                            0
order_purchase_timestamp                0
order_approved_at                       0
order_delivered_carrier_date            0
order_delivered_customer_date           0
order_estimated_delivery_date           0
delay                                   0
order_item_id                           0
product_id                              0
seller_id                               0
shipping_limit_date                     0
customer_zip_code_prefix                0
seller_zip_code_prefix                  0
geolocation_zip_code_prefix_customer    0
geolocation_lat_customer                0
geolocation_lng_customer                0
geolocation_city_customer               0
geolocation_state_customer              0
geolocation_zip_code_prefix_seller      0
geolocation_lat_seller                  0
geolocation_lng_seller                  0
geolocation_city_seller                 0
geolocation_state_seller                0
product_weight_g                        0
product_length_cm                       0
product_height_cm                       0
product_width_cm                        0
dtype: int64

In [39]:
# after dropping null values
cleaned_data = data.shape[0]
print(cleaned_data)

109619

In [40]:
# number of dropped rows after cleaning
rows_dropped = original_data - cleaned_data
print(rows_dropped)

578

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109619 entries, 0 to 110196
Data columns (total 29 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   order_id                              109619 non-null  object
 1   customer_id                           109619 non-null  object
 2   order_status                          109619 non-null  object
 3   order_purchase_timestamp              109619 non-null  datetime64[ns]
 4   order_approved_at                     109619 non-null  datetime64[ns]
 5   order_delivered_carrier_date          109619 non-null  datetime64[ns]
 6   order_delivered_customer_date         109619 non-null  datetime64[ns]
 7   order_estimated_delivery_date         109619 non-null  datetime64[ns]
 8   delay                                 109619 non-null  int32
 9   order_item_id                         109619 non-null  int64
 10  product_id                            109619 non-null  object
 11  seller_id                             109619 non-null  object
 12  shipping_limit_date                   109619 non-null  datetime64[ns]
 13  customer_zip_code_prefix              109619 non-null  int64
 14  seller_zip_code_prefix                109619 non-null  int64
 15  geolocation_zip_code_prefix_customer  109619 non-null  float64
 16  geolocation_lat_customer              109619 non-null  float64
 17  geolocation_lng_customer              109619 non-null  float64
 18  geolocation_city_customer             109619 non-null  object
 19  geolocation_state_customer            109619 non-null  object
 20  geolocation_zip_code_prefix_seller    109619 non-null  float64
 21  geolocation_lat_seller                109619 non-null  float64
 22  geolocation_lng_seller                109619 non-null  float64
 23  geolocation_city_seller               109619 non-null  object
 24  geolocation_state_seller              109619 non-null  object
 25  product_weight_g                      109619 non-null  float64
 26  product_length_cm                     109619 non-null  float64
 27  product_height_cm                     109619 non-null  float64
 28  product_width_cm                      109619 non-null  float64
dtypes: datetime64[ns](6), float64(10), int32(1), int64(3), object(9)
memory usage: 24.7+ MB

In [37]:
data.to_csv("cleaned_data.csv", index=False)